body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-background {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* add this line to include padding in the width */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}

p {
    margin-top: 20px;
}

a {
    color: #5cb85c;
    text-decoration: none;
}

/* Responsive design for mobile */
@media (max-width: 480px) {
    .login-container {
        padding: 20px;
    }
}
/*#region registration*/
/* Styles généraux pour la page d'inscription */
.registration-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
    margin: 5vh auto; /* Centrer verticalement */
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Inclut le padding dans la largeur */
}

.submit-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-group button:hover {
    background-color: #4cae4c;
}

/* Styles additionnels pour améliorer la visibilité et la cohérence */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #71b7e6, #9b59b6); /* Arrière-plan attractif */
    height: 100vh; /* Pleine hauteur */
}

h1 {
    color: #333; /* Assurez-vous que le titre est bien visible */
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.login-link a:hover {
    background-color: #45a049;
}

/*#endregion registration*/