<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <a></a>
        <a id="logout" href="/logout">Logout</a>
        <a id="login" href="/login">Login</a>
        <a id="register" href="/register">Register</a>
    </nav>

    <div class="container">
        <aside>
            <div class="user-container">
                <h2>Users</h2>
                <ul id="userList">
                </ul>
            </div>
        </aside>
        <main>
            <h1>Welcome to my chat app!</h1>
            <div class="active-chat">
                <h2 id="your-messages"></h2>
                <div id="messages">
                    <!-- messages for the current chat -->
                </div>
                <form id="messageInputForm">
                    <input type="text" id="messageInput" placeholder="Type a message...">
                    <button type="submit">Send</button>
                </form>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
